*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: -webkit-fill-available; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 53%; } }
  @media (max-width: 596px) {
    html {
      font-size: 51%; } }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  /* Hide scrollbars */ }
