@import "./_variables.scss";

.effect_left {
    animation: 2s slideInFromLefts;

    @keyframes slideInFromLefts {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.effect_left_out {
    animation: 2s stopFromLeft;
    @keyframes stopFromLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.effect_left_in {
    animation: 2s slideInFromLeft;

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.effect_right {
    animation: 2s slideInFromRight;

    @keyframes slideInFromRight {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.effect_right_out {
    animation: 2s stopFromRight;
    @keyframes stopFromRight {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.effect_right_in {
    animation: 2s slideInFromRight;

    @keyframes slideInFromRight {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.fade {
    transition: opacity 1s ease-in;
}

.fade2 {
    transition: opacity 1.5s ease-in;
}

.fade3 {
    transition: opacity 2s ease-in;
}

.fadeOut {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}

.shake {
    &:hover {
        animation: shake 1s;
    }
    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }
}

.home {
    position: relative;
    &--section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(black, 1);
        background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
            radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
        // background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
        //     url("https://wallpapercave.com/wp/wp3544735.jpg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;

        @include lg {
            background-size: 100% 100%;
        }

        &__bottem {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            height: 5%;
            padding-bottom: 1rem;

            &--next_page {
                font-size: 2rem;
                color: $color-white;
                cursor: pointer;
            }
        }

        &__page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 95%;

            &-Title {
                margin: 0 auto;
                font-size: 2.5rem;
                font-weight: 700;
                color: white;
                padding-bottom: 5rem;
                cursor: pointer;
                position: relative;

                span:nth-child(1) {
                    margin-right: 0rem;
                    transition: 0.4s linear;
                }

                span:nth-child(2) {
                    margin-left: 0rem;
                    transition: 0.4s linear;
                }

                &:hover {
                    span:nth-child(1) {
                        margin-right: 0.7rem;
                        transition: 0.4s linear;
                    }

                    span:nth-child(2) {
                        margin-left: 0.7rem;
                        transition: 0.4s linear;
                    }
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                color: white;
                margin-top: 1rem;
                font-size: 1.5rem;
            }

            &-grid-container {
                display: flex;
                justify-content: space-between;
                width: 9rem;
                margin: 0 auto;

                @include lg {
                    display: none;
                }

                &-item {
                    text-align: center;
                    font-size: 4rem;
                    cursor: pointer;

                    &-icon {
                        color: white;
                        &:hover {
                            transition: all 0.3s ease-out;
                            color: $color-purple-light;
                            transition: 250ms;
                        }
                    }
                }
            }
        }
    }

    &--section2 {
        height: 100vh;
        width: 100%;
        opacity: 0.8;

        background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);


        // background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        //     url("https://wallpapercave.com/wp/wp7864836.jpg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;

        @include lg {
            width: 100%;
        }

        &__bottem {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            height: 5%;

            &--previous_page {
                font-size: 3rem;
                color: $color-white;
                cursor: pointer;
                overflow-x: hidden;
                overflow-y: hidden;
            }
        }

        &__page {
            display: flex;
            flex-direction: column;
            height: 95%;
            padding-top: 8rem;
            padding: 8%;

            @include lg {
                padding-top: 8rem;
                padding: 20%;
            }

            &--title {
                height: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                color: $color-white;
                font-size: 2.5rem;
                font-weight: 700;
                overflow-x: hidden;
                overflow-y: hidden;
            }

            &--skill {
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
                overflow-x: hidden;
                overflow-y: hidden;

                &__container {
                    display: flex;

                    &--set {
                        display: flex;
                        color: white;
                        margin: 0 auto;
                        width: 50%;
                        font-size: 1.25rem;
                        font-weight: 600;
                        overflow-x: hidden;
                        overflow-y: hidden;
                    }
                }
            }

            &--body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 auto;
                height: 50%;
                width: 50%;
                text-align: center;
                overflow-x: hidden;
                overflow-y: hidden;

                &__text {
                    color: $color-white;
                    font-size: 1.25rem;
                    font-weight: 600;
                }
            }

            &--icons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                height: 20%;
                width: 50%;
                padding-top: 2rem;
                @include lg {
                    width: 100%;
                }

                &__container {
                    display: flex;
                    justify-content: space-between;
                    &--logo {
                        font-size: 4rem;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
