@import "./_variables.scss";

.something {
    text-decoration: none;
}

.home {
    &--section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../image/dark_red_theme.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__bottem {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            height: 10%;
            padding-bottom: 1rem;

            &--next_page {
                font-size: 2rem;
                color: $color-white;
                cursor: pointer;

                &:hover {
                    animation: shake 1s;
                    // animation-iteration-count: infinite;
                }
                @keyframes shake {
                    0% {
                        transform: translate(1px, 1px) rotate(0deg);
                    }
                    10% {
                        transform: translate(-1px, -2px) rotate(-1deg);
                    }
                    20% {
                        transform: translate(-3px, 0px) rotate(1deg);
                    }
                    30% {
                        transform: translate(3px, 2px) rotate(0deg);
                    }
                    40% {
                        transform: translate(1px, -1px) rotate(1deg);
                    }
                    50% {
                        transform: translate(-1px, 2px) rotate(-1deg);
                    }
                    60% {
                        transform: translate(-3px, 1px) rotate(0deg);
                    }
                    70% {
                        transform: translate(3px, 1px) rotate(-1deg);
                    }
                    80% {
                        transform: translate(-1px, -1px) rotate(1deg);
                    }
                    90% {
                        transform: translate(1px, 2px) rotate(0deg);
                    }
                    100% {
                        transform: translate(1px, -2px) rotate(-1deg);
                    }
                }
            }
        }

        &__page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;

            &-Title {
                margin: 0 auto;
                font-size: 2.5rem;
                font-weight: 700;
                color: white;
                padding-bottom: 5rem;
            }

            &-text {
                margin: 0 auto;
                font-size: 1.2rem;
                font-weight: 2z00;
                color: white;
            }

            &-grid-container {
                display: flex;
                justify-content: space-between;
                width: 15rem;
                margin: 0 auto;

                @include lg {
                    display: none;
                }

                &-item {
                    text-align: center;
                    font-size: 4rem;
                    cursor: pointer;

                    &-icon {
                        color: white;
                        &:hover {
                            transition: all 0.3s ease-out;
                            color: $color-purple-light;
                            transition: 250ms;
                        }
                    }
                }
            }
        }
    }

    &--section2 {
        width: 100%;
        height: 100vh;
        background-image: -webkit-linear-gradient(180deg, rgb(1, 1, 22), $color-blue-dark, black 50%, $color-blue-dark, rgb(1, 1, 22));
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__bottem {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            height: 10%;
  
            &--previous_page {
                font-size: 3rem;
                color: $color-white;
                cursor: pointer;
                overflow-x: hidden;
                overflow-y: hidden;

                &:hover {
                    animation: shake 1s;
                    // animation-iteration-count: infinite;
                }
                @keyframes shake {
                    0% {
                        transform: translate(1px, 1px) rotate(0deg);
                    }
                    10% {
                        transform: translate(-1px, -2px) rotate(-1deg);
                    }
                    20% {
                        transform: translate(-3px, 0px) rotate(1deg);
                    }
                    30% {
                        transform: translate(3px, 2px) rotate(0deg);
                    }
                    40% {
                        transform: translate(1px, -1px) rotate(1deg);
                    }
                    50% {
                        transform: translate(-1px, 2px) rotate(-1deg);
                    }
                    60% {
                        transform: translate(-3px, 1px) rotate(0deg);
                    }
                    70% {
                        transform: translate(3px, 1px) rotate(-1deg);
                    }
                    80% {
                        transform: translate(-1px, -1px) rotate(1deg);
                    }
                    90% {
                        transform: translate(1px, 2px) rotate(0deg);
                    }
                    100% {
                        transform: translate(1px, -2px) rotate(-1deg);
                    }
                }
            }
        }

        &__page {
            display: flex;
            flex-direction: column;
            height: 90%;
            padding-top: 1rem;


            &--title {
                height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                color: $color-white;
                font-size: 2.5rem;
                font-weight: 700;
                overflow-x: hidden;
                overflow-y: hidden;
           

            }

            &--skill {
                height: 20vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
                overflow-x: hidden;
                overflow-y: hidden;


                &__container{
                    display: flex;

                    &--set {
                        display: flex;
                        color: white;
                        margin: 0 auto;
                        width: 50%;
                        font-size: 1.25rem;
                        font-weight: 600;
                        overflow-x: hidden;
                        overflow-y: hidden;
                    }
                }
            }

            &--body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0 auto;
                height: 40vh;
                width: 50%;
                text-align: center;
                overflow-x: hidden;
                overflow-y: hidden;

                &__text {
                    color: $color-white;
                    font-size: 1.25rem;
                    font-weight: 600;

                }
            }

            &--icons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                height: 20vh;
                width: 50%;
                padding-top: 2rem;
            

                &__container{
                    display: flex;
                    justify-content: space-between;
                    &--logo {
                        font-size: 4rem;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
